# To run tests against the real Microsoft Graph API
# Copy this file to .ENV and fill in the values

# 'mock' (default) or 'real'
TEST_TARGET=real

# OAuth2 Access Token for your Microsoft Account
# Get one via 'npm run example:login'
ONEDRIVE_TOKEN=...

# Optional: Simulate latency in ms (only works with TEST_TARGET=mock)
# LATENCY=50

# Client ID for the Microsoft Login Example
ONEDRIVE_CLIENT_ID=e5...
ONEDRIVE_TENANT_ID=3e...
